#verification-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#verification-section button {
  padding: 10px 20px;
  background-color: black;
  border: none;
  color: white;
  font-size: 22px;
  border-radius: 10px;
  transition: all ease 0.3s;
  cursor: pointer;
}

#verification-section button:hover {
  background-color: rgb(39, 39, 39);
}